PyYAML==6.0.1
Unidecode==1.3.7
Whoosh==2.7.4
arxiv==2.0.0
bibtexparser==1.4.1
click==8.1.7
crossrefapi==1.6.0
delegator.py==0.1.1
prompt-toolkit==3.0.41
pydantic==2.5.2
rapidfuzz==3.5.2
rich==13.7.0
scholarly==1.7.11
